[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Designed using RBX.lua.
[access "refs/*"]
	owner = group user/TahLoow
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TahLoow
	label-Verified = -1..+1 group user/TahLoow
	push = group user/TahLoow
	read = group user/TahLoow
	rebase = group user/TahLoow
	removeReviewer = group user/TahLoow
	submit = group user/TahLoow
[access "refs/heads/*"]
	create = group user/TahLoow
	push = +force group user/TahLoow
	pushMerge = group user/TahLoow
	read = group user/TahLoow
[access "refs/tags/*"]
	push = group user/TahLoow
	push = +force group user/TahLoow
